{{ form_start(form) }}
    {{ form_widget(form) }}
   <button class="btn btn-primary" style="background-color: #6f42c1; border: none;padding: 9px 24px; color: #fff; border-radius: 6px;
  cursor: pointer;
  margin-left:280px;">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

