<form method="post" action="{{ path('app_categorie_loc_delete', {'codecLoc': categorie_loc.codecLoc}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie_loc.codecLoc) }}">
    <button class="btn">Delete</button>
</form>
