{% extends 'AyBase.html.twig' %}

{% block title %}Hello BroPaymentController!{% endblock %}

{% block body %}
<form action="/checkouttic" method="POST">
      <button type="submit">Checkout</button>
    </form>
{% endblock %}
