<form method="post" action="{{ path('app_commentaire_delete', {'idCom': commentaire.commentaire.idCom}) }}" onsubmit="return confirm('êtes vous sure?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentaire.commentaire.idCom) }}">
    <button class="btn">supprimer</button>
</form>
