{% extends 'adminBase.html.twig' %}

{% block title %}New Event{% endblock %}

{% block cards %}
    <section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">

    <div class="section-header">
        <p>Créer <span>un nouvel</span> événement</p>
    </div>

    <div class="row g-0">

        <div class="col-lg-4 reservation-img" style="background-image: url({{ asset('img/reservation.jpg);') }}" data-aos="zoom-out" data-aos-delay="200"></div>

        <div class="col-lg-8 d-flex align-items-center reservation-form-bg">

    {{ include('event/_form.html.twig') }}

    </div><!-- End Reservation Form -->

        </div>

      </div>
    </section>

    <a href="{{ path('app_event_index_admin') }}">back to list</a>

    
{% endblock %}
{% block charts %}{% endblock %}
{% block Project %}{% endblock %}
{% block footer %}{% endblock %}
